@charset "utf-8";
/* CSS Document */

.frame1
{
	

position: relative;
width: 1920px;
height: 3600px;
background-color: #202020;
}
 .images1
{
	position: absolute;
width: 1920px;
height: 889px;
left: 0px;
top: 0px;

	
}

.MENU
{
	position: absolute;
	width: 100%;
	height: 110px;
	left: 372px;
	top: 93px;
	float: right;
	display: flex;
	align-items: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 56px;
	color: #FFFFFF;
}
ul 
{
	list-style: none;
}
ul li
{
	float: left;
	padding: 50px;
	
	
}
ul li a
{
	text-decoration: none;
	color: white;
}
.PORTFOLIO 
{
	

position: absolute;
width: 1727px;
height: 364px;
left: 350px;
top: 360px;

font-family: Radley;
font-style: normal;
font-weight: normal;
font-size: 200px;
line-height: 0px;
color: #FFFFFF;
}
.vector
{
	position: absolute;
	width: 1701px;
	height: 0px;
	left: -270px;
	top: 326px;
	border: 5px solid #FFFFFF;
}
.GALLERY

{
	position: absolute;
	width: 1354px;
	height: 364px;
	padding-left: 428px;
	top: 846px;
	font-family: Radley;
	font-style: normal;
	font-weight: normal;
	font-size: 200px;
	line-height: 1px;
	color: white;
	left: 8px;
}
.images2
{
	position: absolute;
	width: 710px;
	height: 746px;
	left: 110px;
	top: 1117px;
	right: 0px;
		transition: 0.3s;
}
.images2:hover
{
	transform: scale(1.15);
	
}
.text1
{
position: absolute;
width: 512px;
height: 520px;
left: 172px;
top: 1181px;

background: rgba(34, 34, 34, 0.6);
background-blend-mode: hard-light;
}

.images3
{
	position: absolute;
width: 453px;
height: 453px;
left: 1033px;
top: 1188px;
transition: 0.3s;
}
.images3:hover
{
	transform: scale(1.15);
	
}

.images4
{
	position: absolute;
width: 453px;
height: 460px;
left: 1359px;
top: 1385px;
transition: 0.3s;
}
.images4:hover
{
	transform: scale(1.15);
	
}


.text
{
	position: absolute;
width: 389px;
height: 410px;
left: 1395px;
top: 1420px;

background: rgba(34, 34, 34, 0.6);
background-blend-mode: hard-light;
}

.images5
{
	position: absolute;
width: 1920px;
height: 823px;
left: 8px;
top: 1897px;

}
.MEETPHOTOGRAPHER 

{
position: absolute;
width: 606px;
height: 39px;
left: 52px;
top: 1947px;

font-family: Radley;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 61px;
color: black;
}

.story
{
	position: absolute;
width: 603.84px;
height: 308px;
left: 1208px;
top: 1951px;
background: rgba(34, 34, 34, 0.6);
background-blend-mode: hard-light;
}
.Rectangle
{
position: absolute;
width: 1920px;
height: 880px;
left: 0px;
top: 2900px;
background: #202020;

}
.INSTAGRAM

{
	position: absolute;
	width: 297px;
	height: 61px;
	left: 727px;
	top: -134px;
	font-family: Radley;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 10px;
	color: white;
}
.images6
{
	position: absolute;
width: 330px;
height: 330px;
left: 115px;
top: 2995px;
	transition: 0.3s;
}
.images6:hover
{
	transform: scale(1.15);
	
}

.images7
{
	position: absolute;
width: 330px;
height: 330px;
left: 572px;
top: 2995px;
transition: 0.3s;
}
.images7:hover
{
	transform: scale(1.15);
	
}

.images8
{
	position: absolute;
width: 330px;
height: 330px;
left: 1029px;
top: 2995px;

transition: 0.3s;
}
.images8:hover
{
	transform: scale(1.15);
	
}
.images9
{
	position: absolute;
width: 330px;
height: 330px;
left: 1486px;
top: 2995px;

transition: 0.3s;
}
.images9:hover
{
	transform: scale(1.15);
	
}




.FOOTER
{
	position: absolute;
	width: 1920px;
	height: 295px;
	left: 69px;
	top: 3479px;
	float: right;
	display: flex;
	align-items: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 48px;
	line-height: 56px;
	color: #FFFFFF;
}
